@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

/* font-family: 'Bebas Neue', cursive;
font-family: 'Belleza', sans-serif;
font-family: 'Old Standard TT', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdf4e7;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h1 {
  font-family: bebas neue;
  font-size: large;
  text-align: center;
  color: #888c41;
}

/* Modify the background color */
.navbar-custom {
  background-color: #d9c259;
  color: #888c41;
  font-family: "Old Standard TT", serif;
  height: 70px;
}

.navbar-brand {
  font-family: "Old Standard TT", serif;
  color: #888c41;
}

.formular {
  color: #8c7d3a;
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: large;
}

.mb-3 {
  color: #8c6856;
  font-family: "Old Standard TT", serif;
}

.col-form-label {
  color: #8c6856;
  font-family: "Old Standard TT", serif;
}

.signupForm {
  color: #8c7d3a;
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: large;
}

.titleCard {
  color: #8c7d3a;
  font-family: "Old Standard TT", serif;
  font-weight: bold;
  font-size: large;
}

/* Logo - main page */

.newColor {
  background-color: #d9c259;
}

/* .secondPart {
  height: 1vh;
} */

.text1 {
  color: #8c7d3a;
  font-family: "Old Standard TT", serif;
  font-weight: bolder;
  font-size: medium;
}

.text2 {
  color: #594f21;
  font-family: "Old Standard TT", serif;
  font-weight: light;
  font-size: 0.7em;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* .qr-size {
  height: 20px;
} */
/* src/styles.css */
/* *,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-color: 230 35% 7%;
}
body {
  color: hsl(var(--font-color));
}
img {
  max-width: 100%;
  display: block;
}
.section {
  padding: 2em 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
}
.container {
  margin-inline: auto;
  max-width: 75rem;
  width: 85%;
}
.input__group {
  display: flex;
  margin-top: 2em;
}
input {
  width: 100%;
  padding: 1em 0.75em;
  border: 1px solid #444343;
  border-radius: 3px;
  margin-bottom: 2em;
  margin-top: 0.75em;
}
button {
  border: unset;
  background: hsl(231, 77%, 90%);
  padding: 1em 0.75em;
  color: hsl(var(--font-color));
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 0;
  }
  input {
    margin: 0;
  }
  .qrcode__container {
    display: flex;
    align-items: center;
  }
  .input__group {
    margin-left: 3em;
  }
  input {
    margin-bottom: 2em;
    margin-top: 0.75em;
    font-size: 1rem;
  }
} */
